.landing {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.landing h1 {
  color: #2b388f;
}

.landing .description {
  line-height: 2em;
  margin: 20px;
}

.landing .container {
  width: 800px;
  max-width: 100%;
  padding: 10px;
}

.landing .authButtons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.landing .authButtons .button {
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  background-color: #ffffff;
  box-shadow: 0 0 4.9px 0.1px #bbbbbb;
  border: solid 1px #e0e1e6;
  padding: 12px;
  font-weight: bolder;
  color: #009bb8;
  margin: 20px;
  width: 300px;
  max-width: 100%;
}

.landing a {
  color: #a42c90;
}

.landing .authButtons .button .buttonIcon {
  min-width: inherit;
}
